* {
    background-color: orange;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#back-button-container {
    display: none;
}

.dog-pictures {
    width: auto;
    height: auto;
    max-height: 75%;
}

#save-button-container {
    text-align: center;
}

.save {
    display: none;
}


@media only screen and (max-width: 962px) {
    .dog-pictures {
        width: 250px;
        height: auto;
    }
}
#saved-stuff {
    display: none;
}

.hero-body {
    text-align: center;
}

#button-container {
    text-align: center;

}

.footer {
    padding: 1rem;
    /* padding: 5px; */
    width: 100%;
    
}

#API-container {
    justify-content: center;
    text-align: center;
}

.navbar {
    background-color: orange;

}