#save-button-container {
    justify-content: center;
}

.save {
    display: none;
}

.dog-pictures {
    width: 500px;
    height: auto;
}


@media only screen and (max-width: 962px) {
    .dog-pictures {
        width: 250px;
        height: auto;
    }
}
#saved-stuff {
    display: none;
}

